     
        @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
        .exo{
            font-family: "Exo 2", serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
        }

        *{ 
            margin: 0px;
            padding: 0px;
        }
        
        nav{
            font-size: larger;
            background-color: rgb(129, 14, 14);
            justify-content: space-evenly;
            color: antiquewhite;
            align-items: center;
            height: 100px;
            display: flex;
        }
        .n-box{
            padding: 5px;
            background-color: rgb(0, 0, 0);
            /* height: 50px; */
            /* width:100px; */
        }
        .box{
            display: flex;
        }

        #logo{
            height: 80px ;
            width: 100px;
        }
