     

        @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&family=Sofia&display=swap');
        body{
            max-width: 1600px;
            margin: 0 auto;
        }       
        .kaushan{
            font-family: "Kaushan Script", serif;
            font-weight: 500;
            font-style: normal;
          }
        .sofia{
            font-family: "Sofia", serif;
            font-weight: 400;
            font-style: normal;
          }        
        .exo{
            font-family: "Exo 2", serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
        }
        *{ 
            margin: 0px;
            padding: 0px;
        }
        nav{
            font-size: larger;
            background-color: rgb(129, 14, 14);
            justify-content: space-evenly;
            color: rgb(255, 255, 255);
            align-items: center;
            height: 60px;
            display: flex;
        }
        .n-box{
            padding: 5px;
            margin: 15px;
            background-color: rgb(0, 0, 0);
            border-radius: 5px;
        }
        .box{
            display: flex;
        }
        #logo{
            height: 60px ;
            width:  80px;
        }
        #lg_name{ 
            font-size: 37px;
            color: rgb(255, 172, 63);
        }
