@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&family=Sofia&display=swap");

.kaushan {
  font-family: "Kaushan Script", serif;
  font-weight: 500;
  font-style: normal;
}
.sofia {
  font-family: "Sofia", serif;
  font-weight: 400;
  font-style: normal;
}
.exo {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #df8c8c;
}
nav {
  font-size: larger;
  background-color: rgb(129, 14, 14);
}

#lg_name {
  font-size: 37px;
  color: rgb(255, 172, 63);
  margin: 0 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 15px;
}

li ul {
  display: none;
}

li:hover .dropbox {
  display: block;
  font-size: small;
  position: absolute;
  background: #852323;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li {
  list-style: none;
}

footer p {
  text-align: center;
  margin: 10px;
}

#sea {
  padding: 10px;
  margin: 0 auto;
}
table {
  margin: 10px auto;
  border-collapse: collapse;
}
tr th {
  font-weight: 800;
}

td,
th {
  font-family: kaushan;
  font-size: large;
  font-weight: 500;
  border: 1px solid rgb(185, 190, 43);
  padding: 10px 100px 10px 10px;
}

/* main  */

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.part2 > figure img {
  width: 100%;
}
.grid-container > .part2 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-container > .part2 > figure {
  text-align: center;
  background: #ffffffc1;
}

@media screen and (max-width: 576px) {
  .grid-container > .part2 {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .grid-container > .part2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .grid-container > .part2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
